
/*mobile first */
.header {
 position: fixed;
 top:0;
 background:#0a3d91;
 height: 200px;
 box-shadow: 0px 5px 5px 0px rgba(0,0,0, 0.3);
 width: 100%;
 text-align:center;
 transition: .8s;
 overflow: hidden;
}
.header h1 {
 font-size: 2rem;
 color: white;
 padding-bottom:0.2em;
 letter-spacing: 0.2em;
 transition: 1s
}

.logo {
 width:8em;
 position:relative;
 top: 0.9em;
 left: 0.2em;
 transition:1s;
}
.earth {
	position: absolute;
	z-index: -1005;
	left: 0;
	top: 2.6em;
	opacity: 0.1;
	transition: 2s;

}
.up {
	transform: translateY(600px);
	transition: 3.6s;
}
	.redline {
		background: darkblue;
		height: 2px;
		position: relative;
		top: 5em;
		transition: 1.3s;

	}
	.darksq {
		height: 5px;
		background: rgba(0, 0, 198, 0.2);
		border-bottom: 1px solid white;
		transition: 1.3s;

	}
.go {
	display: block;
	transition: 2.2s;
	transform: translateX(1800px);
}

.fish {
	transition: 2.2s;
	transform: translateX(-1800px);
}


.sticky {
 position: fixed;
 top:0;
 height:18%;
 margin:0 auto;
 padding: 0;
 transition: .5s;
}
.sticky h1 {
 transition: .1s;
 transform: scale(0)
}

.sticky .logo {
 left:-6.5em;
 top: -0.1em;
 transform: scale(0.75);
}


@media (min-width: 768px) {
 .sticky .logo {
  left: -45em;
 }
.earth {
	left: 2em;
}
	

}


@keyframes fade-in-right {
	0 {
			transform: translateX(-155px);
			opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}

}
