 html {
 height: 100vh;
 width: 100vw;
 text-align: center;
 overflow-x: hidden;
}
body {
 margin:0;
 color: darkblue;
 font-family: 'Dosis', sans-serif;
}

.loader {
 text-align: center;
 margin: 0 auto;
 font-size: 1em;
 color: #0a3d91;
 padding: 1em;
}
select {
 border: none;
 border-bottom: 2px solid darkblue;
 color: #0a3d91;
 font-size: 1em;
 font-weight: 500;
 text-align: center;
}
select:hover {
	cursor:pointer;
}
select:focus {
  outline: none !important;
}
input {
 border: none;
 border-bottom: 2px solid darkblue;
 text-align: center;
 color: #0a3d91;
 font-size: 1.4em;
 font-weight: 500;
}
input:focus {
 outline: none !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 0;
}
button {
 padding: 1.4em;

 border: 0.1em solid #0a3d91;
 border-radius: 9%;
 font-size: 1em;
 font-weight: 500;
 transition: background-color 1s ease;
 background: transparent;
 margin: 1em;
}
button:hover {
 background-color: #0a3d91;
 color: white;
 cursor: pointer;
}
.container{
  position: relative;
}